html {
  --scrollbarBG: #000000;
  --thumbBG: #ffffff;
}
*::-webkit-scrollbar {
  width: 16px;
}
* {
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-left: 2px solid var(--scrollbarBG);
  border-right: 2px solid var(--scrollbarBG);
}
