@layer utilities {
  .text-indent-0 {
    text-indent: 0px;
  }
  .text-indent-1 {
    text-indent: 0.25rem;
  }
  .text-indent-2 {
    text-indent: 0.5rem;
  }
  .text-indent-3 {
    text-indent: 0.75rem;
  }
  .text-indent-4 {
    text-indent: 1rem;
  }
  .text-indent-5 {
    text-indent: 1.25rem;
  }
  .text-indent-6 {
    text-indent: 1.5rem;
  }
  .text-indent-7 {
    text-indent: 1.75rem;
  }
  .text-indent-8 {
    text-indent: 2rem;
  }

}
